{% extends 'base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <h2>Bem-vindo ao nosso site!</h2>
    <p>Manter-se em forma é essencial para uma vida saudável. Com nosso site, você pode calcular seu Índice de Massa Corporal (IMC) de forma rápida e prática, além de entender se está no peso ideal. Acompanhe o resultado e receba orientações sobre cuidados com a saúde e bem-estar. Lembre-se: o primeiro passo para uma vida equilibrada começa com pequenos cuidados diários!</p>
    <img src="{% static 'assets/images/grupo-de-pessoas-caminhando.jpg' %}" alt="">
{% endblock %}