{% extends 'base.html' %}
{% load static %}

{% block title %}Calculadora IMC{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'calculadora/css/imc.css' %}">
{% endblock %}

{% block content %}
    <h1>Calculadora de IMC</h1>

    <form id="imcForm" onsubmit="event.preventDefault(); calcularIMC();">
        <label class="label" for="peso">Peso (kg):</label>
        <input class="input" type="number" id="peso" name="peso" step="0.1" required>
        <br><br>
        <label class="label" for="altura">Altura (m):</label>
        <input class="input" type="number" id="altura" name="altura" step="0.01" required>
        <br><br>
        <button class="button" type="submit">Calcular IMC</button>
    </form>
    <p id="resultado"></p>

    <ul class="list-OMS">
        <li><strong>Abaixo do peso:</strong> IMC abaixo de 18,5</li>
        <li><strong>Peso normal:</strong> IMC de 18,5 a 24,9</li>
        <li><strong>Sobrepeso:</strong> IMC de 25 a 29,9</li>
        <li><strong>Obesidade:</strong> IMC 30 ou acima</li>
    </ul>

{% endblock %}

{% block js %}
    <script src="{% static 'calculadora/js/imc.js' %}"></script>
{% endblock %}